@{
    var d = ViewData["timX"];
}
@using (Html.BeginForm("PtBacHai", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label for="a">Nhập số a:</label>
        <input type="text" id="a" name="a" class="form-control" />
    </div>
    <div class="form-group">
        <label for="b">Nhập số b:</label>
        <input type="text" id="b" name="b" class="form-control" />
    </div>
    <div class="form-group">
        <label for="c">Nhập số c:</label>
        <input type="text" id="c" name="c" class="form-control" />
    </div>
    <div class="d-flex flex-row-reverse mt-3">
        <button type="submit" class="btn btn-dark text-light">Tính</button>
    </div>
    @if (d != null)
    {
        <div class="alert alert-info mt-3">
            @d 
        </div>
    }
}
